.header{
    margin: auto;
    width: 80%;
    padding: 20px;
    display: flex;
}
.home-img-wrapper {
    width: 55px;
}

.home-img {
    width: 100%;
}

.header-wrapper {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: auto;
}

.header-left {
    font-size:30px;
    width: 45%;
    display: flex;
    justify-content:space-evenly;
    float: left;
    margin-right: auto;
}

.header-right {
    font-size:30px;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    float: right;
}