body {
    padding-top: 75px;
}

.home {
    margin: auto;
}

.popup-wrapper {
    z-index: 10;
    width: auto;
    height: auto;
}

.popup-title {
    font-size: 25px;
    color: #00a8ad;
    margin-bottom: 8px;
    display: block;
    text-align: center;
    font-weight: 750;
}

.popup-bar {
    width: 90%;
    border: 1px solid #00a8ad;
    margin: 0 auto;
}

.popup-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 90%;
    height: 300px;
    margin: 15px auto;
    font-size: 17px;
    color: #6a6a6a;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup-btn-nav {
    margin-top: 36px;
    text-align: center;
}

.popup-btn {
    font-size: 17px;
    color: #6a6a6a;
    display: inline-block;
    border-bottom: 1px solid #6a6a6a;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: white;
    overflow: visible;
}

.popup-btn-next {
    background-color: #00a8ad;
    color: white;
    text-align: center;
    font-size: 17px;
    margin-top: 24px;
    display: block;
    padding: 16px 90px;
    border-radius: 30px;
}

.popup-btn-next:hover {
    background-color: #00999d;
    color: white;
}

.main {
    border-bottom: 4px solid #00999d;
    margin: 0 auto;
    width: 80%;
}

.main-swiper {
    width: 100%;
    margin: 0 auto;
}

.main-img {
    width: 100%;
}

.main-swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-swiper-pagination .swiper-pagination-bullet {
    background-color: #e6e6e6;
    background: black;
    width: 20px;
    height: 20px;
    transition: width 0.5s;
    border-radius: 10px;
}

.main-swiper-pagination .swiper-pagination-bullet-active {
    width: 50px;
    border-radius: 10px;
    background: #00999d;
}

.notice-swiper-wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.notice-swiper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.notice-wrapper {
    width: auto;
    height: 56px;
    display: flex;
    align-items: center;
}

.notice-notice {
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    color: #00999d;
    border: 1px solid #00999d;
    padding: 8px 20px;
    border-radius: 20px;
    margin-right: 20px;
}

.notice-title {
    font-size: 25px;
    width: 45%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.notice-title-date {
    font-size: 20px;
    color: #6a6a6a;
    margin-left: 30px;
}

.handle-button {
    width: 150px;
    height: 100%;
    display: flex;
    overflow: hidden;
    float: right;
    justify-content: space-between;
}

.button-prev {
    cursor: pointer;
    width: 56px;
    height: 68px;
    display: inline-block;
}

.prev {
    padding: 8px;
    background: white;
    padding-bottom: 20px;
    width: 100%;
}

.button-next {
    cursor: pointer;
    width: 56px;
    height: 68px;
    display: inline-block;
}

.next {
    width: 100%;
    padding: 8px;
    background: white;
    padding-bottom: 20px;
}

.leader-invest {
    border-bottom: 4px solid #00a8ad;
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.invest-wrapper {
    margin: 40px 0;
}

.invest-header {
    display: flex;
    margin: 20px 0;
}

.invest-title {
    width: 30%;
    font-size: 30px;
}

.invest-card-swiper-pagination {
    display: flex;
    justify-content: right;
    align-items: center;
}

.invest-card-swiper-pagination .swiper-pagination-bullet {
    background-color: #e1e1e1;
    background: black;
    width: 30px;
    transition: width .5s;
    border-radius: 5px;
    height: 5px;
}

.invest-card-swiper-pagination .swiper-pagination-bullet-active {
    height: 7px;
    width: 20px;
    border-radius: 5px;
    background: #00999d;
}

.invest-card-swiper {
    width: auto;
    height: fit-content;
    margin: 20px 0;
}

.invest-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    overflow: visible;
}

.invest-card-thumbnail {
    height: 160px;
    background-color: #e1e1e1;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    padding: 17px;
}

.card-hide {
    width: 100%;
    height: 100%;
    background-color: #6a6a6a;
    opacity: 0.6;
    z-index: 2;
}

.card-status {
    width: 66px;
    height: 25px;
    background-color: #ffffff;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    box-shadow: 0px 1px 3px #00000033;
    border-radius: 5px;
}

.card-tag-img {
    display: flex;
    justify-content: space-between;
}

.card-tag {
    margin: 8px;
    margin-left: 0;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
}

.card-img {
    float: right;
}

.card-name {
    padding-left: 3px;
    color: #24231f;
    margin: 3px 0;
}

.card-title {
    padding-left: 3px;
    color: #24231f;
    font-size: 20px;
    font-weight: 580;
    margin: 3px 0;
}

.card-info {
    padding: 0 3px;
    margin-top: 20px;
    font-size: 17px;
    color: #6a6a6a;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-item {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.card-date {
    padding-top: 3px;
    font-size: 20px;
    float: right;
}

.progress-bar-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.progress-bar-num {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
}

.invest-more:hover {
    background-color: #00999d;
    color: white;
}

.invest-more {
    display: block;
    width: 100%;
    margin: 30px auto;
    margin-bottom: 88px;
    border: 1px solid #00a8ad;
    border-radius: 100px;
    font-weight: 600;
    text-align: center;
    color: #00999d;
    max-width: 400px;
    line-height: 60px;
    font-size: 20px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.kakao-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
}

.kakao-channel-wrapper {
    display: flex;
    width: 48%;
    background-color: #dff4f4;
    border-radius: 10px;
    margin: 0 auto;
    justify-content: space-around;
    height: 140px;
}

.kakao-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    font-size: larger;
    font-weight: 600;
}

.kakao-img {
    margin-right: 30px;
    width: 15%;
}

.invest-limit-wrapper {
    display: flex;
    width: 48%;
    background-color: #dff4f4;
    border-radius: 10px;
    margin: 0 auto;
    justify-content: space-around;
    height: 140px;
}

.invest-limit-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    font-size: larger;
    font-weight: 600;
}

.invest-limit-img {
    margin-right: 30px;
    width: 15%;
}

.invest-status {
    margin: 0 auto;
    width: 100%;
    background: #fff;
}

.status-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.status-header {
    display: flex;
    align-items: end;
}

.status-date {
    color: #6a6a6a;
    font-size: 20px;
    margin-left: 15px;
}

.status-summery {
    font-size: 30px;
    margin: 50px auto;
    color: #6a6a6a;
    line-height: 1.5;

}

.status-summery-text {
    font-weight: 400;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.status-summery-inline {
    color: #00999d;
    display: flex;
    align-items: end;
}

.status-summery-box {
    display: flex;
    width: 100%;
    margin: 30px auto;
}

.status-box {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #e6e6e6 solid 1px;
    width: 24%;
    height: 230px;
    margin: 0 auto;
    border-radius: 8px;
    flex-direction: column;
    color: black;
}

.status-box-inline {
    margin-left: 3px;
    color: #6a6a6a;
    font-size: 25px;
    font-weight: 700;
}

.status-more {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 88px;
    border: 1px solid #00a8ad;
    border-radius: 100px;
    font-weight: 600;
    text-align: center;
    color: #00999d;
    max-width: 400px;
    line-height: 60px;
    font-size: 20px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.status-more:hover {
    background-color: #00999d;
    color: white;
}

.cocktail-story {
    width: 100%;
    height: auto;
    background-image: linear-gradient(139deg, #fcfcfc, #fafafa);
    padding: 50px 0;
}

.story-wrapper {
    width: 80%;
    margin: auto;
}

.story-title {
    font-size: 30px;
    padding: 0 30px;
}

.story-swiper-pagination {
    display: flex;
    justify-content: right;
    align-items: center;
}

.story-swiper-pagination .swiper-pagination-bullet {
    background-color: #e6e6e6;
    background: black;
    width: 30px;
    height: 5px;
    transition: width .5s;
    border-radius: 5px;
}

.story-swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 5px;
    background: #00999d;
}

.story-swiper {
    height: auto;
    width: 100%;
    padding: 20px 0;
}

.story-box {
    background-color: #ffffff;
    width: 80%;
    height: 250px;
    padding: 32px;
    margin: 20px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 6px 6px 0 rgba(225, 226, 227, 0.18);
    padding: 32px;
}

.story-box-title {
    font-weight: 700;
    line-height: 1.56;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.2px;
    color: #403f3e;
    margin-bottom: 16px;
}

.story-body-wrapper {
    margin-bottom: 32px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.2px;
    color: #626261;
    height: 120px;
    margin-bottom: 1rem;
}

.story-body {
    height: 100%;
    line-height: 30px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 40px;
}

.story-more {
    float: right;
    cursor: pointer;
    color: #1774ff;
    font-size: 20px;
    font-weight: 500;
}

.footer {
    background: #e6e6e6 0% 0% no-repeat padding-box;
}

.footer-wrapper {
    display: flex;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.footer-first {
    display: inline-block;
    width: 37%;
    vertical-align: top;
    padding-top: 60px;
    margin-bottom: 30px;
}

/* .footer-infos-logo {} */

.footer-links-div {
    color: #6a6a6a;
    font: normal normal 600 16px / 28px NanumSquare;
    padding-bottom: 48px;
}

.email {
    color: #6a6a6a;
    font: normal normal 20px / 24px Montserrat;
    padding-bottom: 12px;
    font-weight: 600;
}

.footer-second {
    display: inline-block;
    width: 37%;
    vertical-align: top;
    padding-top: 60px;
    margin-bottom: 30px;
}

.footer-infos {
    width: 100%;
    padding: 32px 40px;
    font-size: 14px;
    color: #64676c;
}

.footer-loan-name {
    margin-bottom: 10px;
    font: normal normal 600 18px / 28px NanumSquare;
    color: #6a6a6a;
}

.footer-infos-left {
    width: 100%;
    position: relative;
    margin: 0;
    display: inline-block;
    font-size: 16px;
    color: #e6e6e6;
    padding: 32px 40px;
}

.footer-infos-inline {
    display: inline-block;
    margin-bottom: 1px;
    font: normal normal 16px / 26px NanumSquare;
    color: #45484e;
}

.footer-infos-bar {
    display: inline-block;
    color: #9a9a9a;
    margin: 0 3px;
}

.footer-infos-right {
    width: 100%;
    padding: 32px 40px;
    font-size: 14px;
    color: #64676c;
}

.footer-loan-warn {
    margin-bottom: 36px;
    color: #6A6A6A;
    font: normal normal 200 18px / 32px NanumSquare;
}

.footer-hr {
    width: 100%;
    border-top: 2px solid #bbbbbb;
    margin: 0;
}

/* .footer-customer-center {} */
.footer-last {
    display: block;
    font-size: 19px;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 100%;
    color: #45484e;
}

.footer-copyright {
    color: #6a6a6a;
    font-weight: 500;
    display: inline;
    margin-left: auto;
}